<!-- <script type="text/template" id="vehiculTemplate"> -->
<div id="vehiculTemplate" class="grid">
<input type='hidden'  name="id" id="id" data-bind="value:id" /> 
<input type="hidden" name="id_comanda" data-bind="value:id_comanda" />

<div class="row tab-content-bordered" >
    <div class="span6">
        <h4>Date principale</h4>
    <hr />        
       	<div class="row vin">
			<label class="details-left span2">VIN:</label>
			<div class="input-control text span4 ">
				<input type='text' name="vin" id="vin" maxlength="17" data-bind="value:vin" />
			</div>
		</div>
       	<div class="row nr_registru">
			<label class="details-left span2">Nr. registru:</label>
			<div class="input-control text span4 ">
				<input type="text" name="nr_registru" id="nr_registru"  data-bind="value:nr_registru" />
			</div>
		</div>
        
        <div class="row wvta">
            <label class="details-left span2">WVTA:</label>
        	<div class="input-control text span4 ">
            	<input type="text"  data-bind="value:wvta" name="wvta" id="wvta" disabled="true" /> 
        	</div>
        </div>
        <div class="row extensie">
            <label class="details-left span2">Extensie WVTA:</label>
            <div class="input-control text span1 ">
               <input type="text" name="extensie" id="extensie"  data-bind="extensie" />
            </div>
        </div>
        <div class="row an_fabr">
            <label class="details-left span2">An fabricatie:</label>
            <div class="input-control text span1 ">
               <input type="text" name="an_fabr" id="an_fabr" data-bind="value:an_fabr"  />
            </div>
        </div>
        <div class="row culoare">
            <label class="details-left span2">Culoare:</label>
            <div class="input-control text span4 ">
               <input type="text" name="culoare" id="culoare"  data-bind="value:culoare" />
             </div>
        </div>
        <div class="row id_motor">
            <label class="details-left span2">Cod motor / P(kW):</label>
            <div class="input-control text span4 ">
               <input type="text" name="id_motor" id="id_motor" data-bind="value:id_motor" />
            </div>
        </div>
        <div class="row serie_motor">
            <label class="details-left span2">Serie motor:</label>
            <div class="input-control text span4 ">
               <input type="text" name="serie_motor" id="serie_motor"  data-bind="value:serie_motor" />
            </div>
        </div>
        <div class="row mentiuni">
            <label class="span6">Mentiuni suplimentare(max 250 caractere - 50 per rand):</label>
				<div class="input-control text span6 ">
					<input type="text"  id="ment1" maxlength="50" readonly="readonly" />
				</div>
				<div class="input-control text span6 ">
					<input type="text" id="ment2" maxlength="50" readonly="readonly" />
				</div>
				<div class="input-control text span6 ">
					<input type="text"  id="ment3" maxlength="50" readonly="readonly" />
				</div>
				<div class="input-control text span6 ">
					<input type="text" id="ment4" maxlength="50" readonly="readonly" />
				</div>
				<div class="input-control text span6 ">
					<input type="text"  id="ment5" maxlength="50" readonly="readonly" />
				</div>
        </div>
    </div>
    <div class="span6">
        <h4>Date tehnice</h4>
        <!--button class="btn btn-custom-edit" id="addDate"><i class="glyphicon glyphicon-plus"></i> Adauga</button-->
        <hr />
        <div id="date_tehnice_container">
            <div class="panel-group" id="accordion"></div>
        </div>
            <hr>
        <div id="anvelope_container">
            <div class="panel-group" id="anvelope_accordion"></div>
        </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-9" id="operation_container">
    	<button title="Inapoi" class="large" id="btnBack"><i class="icon-arrow-left"></i></button>
        <button title="Salvare" class="large success" id="btnSaveVehicul"><i class="icon-checkmark"></i></button>
    	<button title="Copiere" class="large primary" id="btnCopyVehicul"><i class="icon-copy"></i></button>
    </div>    
    <div class="col-md-3" id="supervize_container"> </div>       
</div>
</div>
<!-- </script> -->
