<nav class="navigation-bar fixed-top">
    <nav class="navigation-bar-content">
    	<a class="element" href="#">
			Aplicatie C.I.V.
		</a>
		<span class="element-divider"></span>
        <div class="element">
            <a class="dropdown-toggle" href="#">Meniu</a>
            <ul class="dropdown-menu" data-role="dropdown">
                <li><a href="#">Main</a></li>
                <li><a href="#">File Open</a></li>
                <li class="divider"></li>
                <li><a href="#">Print...</a></li>
                <li class="divider"></li>
                <li><a href="#" id="closeapp">Exit</a></li>
            </ul>
        </div>
 
        <span class="element-divider"></span>
        
        <a class="element" id="navCereri" href="#cereri">
			Evidenta Cereri
		</a>
		<span class="element-divider"></span>
		
        <a class="element brand" id="refreshapp" href="#"><span class="icon-spin"></span></a>
        <a class="element brand" href="#"><span class="icon-printer"></span></a>
        <span class="element-divider"></span>
 
        <div class="element input-element">
            <form>
                <div class="input-control text">
                    <input type="text" placeholder="Search...">
                    <button class="btn-search"></button>
                </div>
            </form>
        </div>
 
        <div class="element place-right">
            <a class="dropdown-toggle" href="#">
                <span class="icon-cog"></span>
            </a>
            <ul class="dropdown-menu place-right" data-role="dropdown">
                <li><a href="#">Profil</a></li>
                <li><a href="#">Setari</a></li>
            </ul>
        </div>
        <span class="element-divider place-right"></span>
        <a class="element place-right" href="#"><span class="icon-locked-2"></span></a>
        <span class="element-divider place-right"></span>
        <button class="element image-button image-left place-right">
            Utilizator
        </button>
    </nav>
</nav>
