 <script id="modal-template" type="text/template">    
   <!-- <div class="modal fade" id="cerereModal">
    <div class="modal-dialog">
            <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Forma editare comanda</h3>
            </div>
      <div class="modal-body">  --> 
      	<div class="form size7" id="cerereEditor">   
      				<%if(model.nume_beneficiar){%>
      					<div class="input-control text size6 nume_beneficiar">
	                       <label class="details-left size3">Beneficiar</label>
	                       <span data-name="nume_beneficiar" class="size4"></span>
	                    </div>
      				<%}%>
      				<%if(model.nume_beneficiar){%>
                    <div class="input-control text size6 id">
                       <label class="details-left size3">Nr. cerere</label>
                       <span data-name="id" class="size4"></span>
                    </div>
                    <%}%>
                    
                    <label class="details-left size3">Data cerere</label>
                    <div class="input-control size4 datep text data_comanda">
                       <input type="text"  name="data_comanda" id="data_comanda" data-name="data_comanda"  placeholder="Data...">
                    	<button class="btn-date"></button>
                    </div>
                    
                    <label class="details-left size3">Nr. Client</label>
                    <div class="input-control size4 text nr_client">                     
                       <input type="text" name="nr_client" id="nr_client" data-name="nr_client" placeholder="Cerere client...">
                    </div>
                    
                    <label class="details-left size3">Data iesire</label>
                    <div class="input-control text size4 data_client datep">                   
                       <input type="text"  name="data_client"  id="data_client" data-name="data_client"  placeholder="Data client...">
                    	<button class="btn-date"></button>
                    </div>
                    
                    <button title="Salvare" class="primary" id="btnSaveComanda"><i class="icon-floppy"></i></button>
        			<button title="Renunta"   class="danger" onclick="$.Dialog.close()"><i class="icon-remove"></i></button>
        </div>       
      <!--</div> /.modal-body 
      <div class="modal-footer">
         <button title="Salvare" class="btn btn-primary btn-circle-big" id="btnSaveComanda"><i class="glyphicon glyphicon-ok"></i></button>
        <button title="Renunta" type="button"  class="btn btn-danger btn-circle-big" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i></button>
      </div><!-- /.modal-footer 
    </div>/.modal-content 
  </div><!-- /.modal-dialog 
  </div> -->
 </script>
